@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #020617;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #1e293b;
    border-radius: 9999px;
    border: 2px solid #020617;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #3b82f6;
  }

  html {
    scrollbar-width: thin;
    scrollbar-color: #1e293b #020617;
  }
}